%h1
  Device Settings
%h2
  Device Registration
= form_for @dev, url: devices_register_path do |f|
  = f.label :secret
  = f.text_field :secret
  = f.label :name
  = f.text_field :name
  = f.submit
%h2
  Device List
= form_tag devices_delete_path, :method => :delete do
  <!-- list of devices is currently listed under -->
  = User.find_by_id(current_user.id).devices.to_json