%h1
  Device Registration
= form_tag register_device_path, :method => :post do
  = label_tag 'secret', 'Device secret code'
  = text_field_tag 'secret'
  = label_tag 'name', 'Your personal device name'
  = text_field_tag 'name'
  = submit_tag "Register your device"