!!!
%html
  %head
    %title App
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "https://www.gstatic.com/charts/loader.js", :type => "text/javascript"}
    %script{:src => "script/js/charts.js", :type => "text/javascript"}
  %body   
    #body-wrapper
      %nav.navbar.navbar-default
        .container-fluid
          - if current_user
            .navbar-header
              %h1.navbar-brand
                = link_to dashboard_path do
                  %b> i
                  nteligent
                  %b HOME
            %ul.nav.navbar-nav.navbar-right
              %li
                %span
                  = current_user.email
                  = link_to destroy_user_session_path, method: :delete do
                    (Log Out)
          - else
            .navbar-header
              %h1.navbar-brand
                = link_to root_path do
                  %b> i
                  nteligent
                  %b HOME
      #sidebar-box
        %button.btn.btn-warning{:type => "button"}
          %span.glyphicon.glyphicon-th
        #toolbar-wrapper
          %ul
            - if current_user
              %li
                = link_to edit_user_registration_path do
                  %span.glyphicon.glyphicon-cog
                  %br/
                  Settings
            - else
              %li
                = link_to new_user_session_path do
                  %span.glyphicon.glyphicon-user
                  %br/
                  Sign
                  %b
                    In
              %li
                = link_to new_user_registration_path do
                  %span.glyphicon.glyphicon-log-in
                  %br/
                  Sign
                  %b
                    Up
          .copyright
            %span
              &copy; T3M | AH 2016        
      #content-wrapper  
        = yield 
